*{
margin: 0; 
padding: 0; 
box-sizing: border-box; 
}

body {
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

/* common */

.clearfix {
    content: "";
    display: table;
    clear: both;
}

/* fine common */

/* header */

#main-header {
    background-color: #255EE9;
    width: 100vw;
    height: 70px;
    text-align: center;
    position: fixed;
    z-index: 999;
}

nav {
    width: 60vw;
    height: 70px;
    margin: 0 auto;
    position: relative;
}

#main-header nav li:not(.tastodx) {
    margin: 0 30px;
    display: inline-block;
    line-height: 70px;
}

li a {
    color: white;
}

#main-header nav .logo img {
    vertical-align: middle;
    height: auto;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}

.tastodx {
    margin: 0 30px;
    display: inline-block;
    line-height: 35px;
    vertical-align: middle;
    height: 35px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    text-align: center;
    color: black;
    background-color: white;
    border-radius: 30px;
    padding: 0px 20px;
    cursor: pointer; 
}

#main-header nav li a {
    display: inline-block;
    text-decoration: none;
    padding: 0 5px;
}
/* fine header */

/* main */

/* section step */

.banner {
    height: 700px;
    width: 100vw;
    position: relative;
}

.banner img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.pay {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    color: white;
    font-size: 60px;
    display: block;
}

.off {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    margin-top: 70px;
    text-align: center;
    justify-content: center;
    line-height: 30px;
    display: block;
}

.sfondo {
    padding: 30px;
    left: 50%;
    bottom: 15%;
    transform: translate(-50%);
    position: absolute;
}

.white {
    text-align: center;
    color: black;
    font-size: 18px;
    background-color: white;
    border-radius: 30px;
    padding: 15px 30px;
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
}

 .black {
    text-align: center;
    color: white;
    font-size: 18px;
    background-color: rgb(20, 20, 20);
    border-radius: 30px;
    padding: 15px 30px;
    cursor: pointer;
    display: inline-block;
 } 
 
 h2 {
     margin-left: 20px;
 }

 .fas {
     margin-right: 15px;
 }

/* fine section step */

/* section step uno e tre*/

/* .trasparenza {
    opacity: 0.2;
    fill-opacity: 0.4;
} */


.step {
    width: 100%;
    height: 700px;
    margin: 0, auto;
    position: relative;
    margin-top: 150px;
}

.prova {
    height: 100%;
    padding: 60px 0;
}

.box {
   float: left;
   width: 50%;
   text-align: right;
   height: 100%;
}

.testo {
    float: right;
    width: 50%;
    text-align: left;
    height: 100%;
    padding-left: 150px;
    padding-top: 50px;
}

h1 {
    font-size: 60px;
}

p {
    font-size: 20px;
    margin-top: 50px;
}

/* fine section uno e tre*/

/* section step due */

.magia {
    position: absolute;
    top: 0;
    margin-top: -150px;
    background-image: url(../img/wave.svg);
    width: 100%;
    height: 67%;
    opacity: 0.1;
    transform: translateX(0px) scaleY(1.0);
}

.magiarot {
    position: absolute;
    bottom: 0;
    margin-bottom: -80px;
    background-image: url(../img/wave.svg);
    width: 100%;
    height: 66%;
    opacity: 0.1;
    transform: rotate(180deg) scaleY(1.0);
}

.due {
    width: 100%;
    height: 700px;
    margin: 0, auto;
    position: relative;
    margin-top: 150px; 
}

.prova {
    height: 100%;
    padding: 60px 0;
    position: relative;
}

.box-dx {
   float: right;
   width: 50%;
   text-align: left;
   height: 100%;
   padding-left: 5%;
}

.testo-sx {
    float: left;
    width: 50%;
    text-align: left;
    height: 100%;
    padding-left: 25%;
    padding-top: 50px;
}
/* fine section due */

/* section step quattro */

.quattro {
    width: 100%;
    height: 1200px;
    margin: 0, auto;
    position: relative;
    margin-top: 150px;
}

.prova-big {
    width: 100%;
    height: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.testo-finale {
    text-align: center;
}

.prova-big img {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: 100%;
}

.stars {
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%);
    text-align: center;
    padding-bottom: 70px;
}

.azzurre {
    text-align: center;
    color: white;
    font-size: 18px;
    background-color: #8EA2E0;
    border-radius: 30px;
    padding: 15px 30px;
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
    margin-top: 20px;
}


.magiabug {
    position: absolute;
    top: 0;
    margin-top: -150px;
    background-image: url(../img/wave.svg);
    width: 100%;
    height: 67%;
    opacity: 0.1;
    transform: translateX(0px)  scaleY(1.5);
}
/* fine section quattro */

/* fine main */

/* inzio footer */

.footer {
    margin-top: 50px;
    height: 800px;
    width: 100%;
    background-color: rgb(41, 41, 41);
}

#contfooter {
    border-bottom: 1px solid #8EA2E0;
    width: 60vw;
    height: 600px;
    margin: 0 auto;
}

.general, .prodotto, .compagnia, .risorse, .norme {
    float: left;
    width: calc(100% / 5);
    margin-top: 100px;
}

#navigazione {
    width: 60%;
    height: 45px;
    margin: 0 auto;
    position: relative;
}

#navigazione li{
    margin: 0 20px;
    display: inline-block;
    line-height: 40px;
}

li a {
    color: white;
}

#navigazione li a {
    display: inline-block;
    text-decoration: none;
    padding: 0 5px;
}

.ble a {
    color: #8EA2E0;
}

.special {
    color: #8EA2E0;
    font-size: 30px;
}

.bandiera {
    margin-top: 30px;
}

.bandiera img {
    height: 17px;
}

span {
    color: white;
    padding-left: 3px;
}

.fa-angle-down {
    padding-left: 3px;
    color: white;
}

.socials {
    color: white;
    margin-top: 30px;
}

.fab {
    margin-right: 25px;
    font-size: 20px;
}

.final {
    width: 60vw;
    height: 70px;
    margin: 0 auto;
    position: relative;
}

#logofinal {
    vertical-align: middle;
    height: auto;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);

}

#flot {
    display: inline-block;
    line-height: 35px;
    vertical-align: middle;
    height: 35px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    text-align: center;
    color: white;
    background-color: #8EA2E0;
    border-radius: 30px;
    padding: 0px 20px;
    cursor: pointer; 
}


/* fine footer */






  
